.card{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* border: 10px solid black; */
}:hover{

}
.card img{
    height: 150px;
    width: 150px;
}
.card h1{
    margin-top: 10px;
    font-size: 18px;
    color: white;
    font-weight: 600;

}
.card p{
    font-size: 12px;
    text-align: start;
    color: var(--lightText);
}